html,
body {
  padding: 0;
  margin : 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size  : 18px;
}

* {
  box-sizing: border-box;
}

a {
  color          : #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display  : block;
}

ul {
  list-style: none;
  margin    : 0;
  padding   : 0;
}

.clear {
  clear: both;
}

.container {
  margin : 20px auto;
  border : 1px solid #dadada;
  padding: 15px;
  width  : 500px;
}

.success-toast {
  background: #00af00;
  PADDING   : 10px;
  MARGIN    : 10px 0;
  TEXT-ALIGN: CENTER;
  COLOR     : #FFF;
}